<!-- departamentos_list.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucursales</title>
</head>
<body>
    <h1>Lista de Sucursales</h1>
    <table border="1">
        <thead>
            <tr>
                <th>sucursal_id</th>
                <th>direccion</th>
                <th>cod_mun</th>
            </tr>
        </thead>
        <tbody>
            {% for sucursal in sucursales %}
            <tr>
                <td>{{ sucursal.sucursal_id }}</td>
                <td>{{ sucursal.direccion }}</td>
                <td>{{ sucursal.cod_mun }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No hay sucursal registrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
